.roadmap-content{
    display: flex;
    justify-content: space-between;
    margin: 200px 0;
}
.roadmap-block{
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.Fst-roadmap-block-custom{
gap: 450px;
}
.roadmap-block-custom{
    margin-top: 200px;
    justify-content: space-evenly;
    flex-direction: column !important;
}
.roadmap-block-content{
    width: 615px ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.roadmap-1{
    margin-left: 100px ;
    background-image: url("../../images/images/roadmap1-bg.png") ;
}
.roadmap-2{
    background-image: url("../../images/images/roadmap3-bg.png") ;
}
.roadmap-3{
    background-image: url("../../images/images/roadmap2-bg.png") ;
}
.roadmap-4{
    background-image: url("../../images/images/roadmap4-bg.png") ;
}
.roadmap-5{
    margin-left: 100px ;
    background-image: url("../../images/images/roadmap5-bg.png") ;
}
.block-content-head h3{
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.8px;
    line-height: 38px;
    text-transform: uppercase;
}
.block-text-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-desc-block{
    display:flex;
   flex-direction: column;
   gap: 10px;
}
.text-desc-heading{
    font-weight: 800;
    font-size: 1.6em;
}
.text-description{
    font-weight: 600;
    font-size: 1.4em;
}
.section-slash{
    width: 100%;
    height: 120px;
    position: absolute;
    margin-top: -100px;
    background-color: #ad0cee;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    opacity: 0.8;
}