.footer-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
}
.column-flex-block{
    display: flex;
    justify-content: space-evenly;
}
.footer-columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
}
.column-link{
    text-decoration: underline;
}
.column-link:hover{
    text-decoration: none;
    transition: 0.4s all;
    cursor: pointer;
}
.footer-end-block{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    font-size: 1.3em;
    width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 50px;
}
.footer-moon-img{
    width: 100%;
    height: 1000px;
}
.footer-moon-image{
    color: transparent;
    width: 100%;
    height: 1600px !important;
    margin-top: -500px;
}
.css-1sre6vk-MuiGrid-root>.MuiGrid-item {
    padding-left: 60px !important;
}
.header-img-btn{
    min-width: 300px;
}
.header-wallet{
    width: 100%;
}